{%extends 'templates/layout.html' %}
{% block content %}
<!-- end of goole gauge -->
<div class="container" align="center">
<!--h1 align ="center" style="margin:30px;"> 동호산업 1000A 전원 </h1 --> 

<div class="wrapper1" align="center">
	<div class="g1-one" align="center">
      <canvas id="gauge1" class='cssGauge' data-type="radial-gauge" data-value-box="true" data-width="200" data-height="200"></canvas>
	</div>

	<div class="g1-two" align="center">
      <canvas id="gauge2" class='cssGauge' data-type="radial-gauge" data-value-box="true" data-width="200" data-height="200"></canvas>
	</div>

	<div class="g1-three" align="center">
		<h1> 동호산업 1000A 전원 원격제어 </h1> 
		<div id="plot1-parent" class="csPlot1" align="center">
			<canvas id="plot1" class="oscope-canvas oscope-canvas2" width="500" height="400" align="center"></canvas>
		</div>
	</div>
	<div class="gi-four" align="center">
		<div>
			Code <input type="number" id="txtCodeEdit1" style="width:70px" min="0" max="300" value="0"> 
			Value <input type="number" id="txtCodeEdit2" style="width:70px" min="0" max="8000" value="0">
			<button id='btnReadCode' 	class='w3-circle w3-green'  onclick='btnReadCode()'>R</button>
			<button id='btnWriteCode' 	class='w3-circle w3-red'    onclick='btnWriteCode()'>W</button>		 
			<textarea id='codeEditResult' class='csEditResult' rows="2" cols="30">	</textarea>
		</div>
		<table align="center" width="100%" margin="5px">
      	<tr>	
      		<td align = "center">
         		<button class='w3-button w3-round w3-blue'   onclick='btnStartPower()'>START</button>
      		</td>
      		<td align = "center">
         		<button class='w3-button w3-round w3-yellow'   onclick='btnStartGraph()'>ON-GRAPH</button>
      		</td>
      		<td align = "center">
         		<button class='w3-button w3-round w3-green'   onclick='btnUpVoltage()'>UP I</button>
      		</td>
			</tr> 
			<tr>
      		<td align = "center">
         		<button class='w3-button w3-round w3-red'   onclick='btnStopPower()'>STOP</button>
      		</td>
      		<td align = "center">
         		<button class='w3-button w3-round w3-red'   onclick='btnStopGraph()'>OFF-GRAPH</button>
      		</td>
      		<td align = "center">
         		<button class='w3-button w3-round w3-red' onclick='btnTripReset()'>RESET</button>
      		</td>
   		</tr> 
		</table>

	</div>
	<div class="gi-five" align="center">
		<div>
			<select id="idCmdSelect">
				<option value="0">READ SENSOR ADC</option>
				<option value="1">READ I and P etc </option>
				<option value="2">READ ALL CODES</option>
				<option value="3">READ PWMTRIP&INPUT </option>
				<option value="4">READ TRIP RECORD</option>
			</select>
			<button id='btnWriteCode' 	class='w3-button w3-round w3-green' onclick='btnOptionSendCmd()'>Send</button>
			<textarea id='txtCodeTable' class='csTxtCodeTable' rows="5" cols="30">	</textarea>
		</div>
	</div>
</div>
</div><!-- wrapper1 -->
<div>
<table align="center">
	<tr>
      <td height = "50" width="4%" align="center"> 경과 : </td>
      <td width="20%" id = "clockRun">00시간 00분 00초</td>
      <td width="4%" align="center"> 현재 : </td>
      <td width="22%" id = "clockNow">2018:02:07: 10:10:00</td>
      <td width="4%"align="center"> 시작 : </td>
      <td width="20%" id = "clockStart">2018:02:07: 10:10:00</td>
      <td width="4%"align="center"> 정지 : </td>
      <td width="22%" id = "clockEnd">2019:00:00: 00:00:00</td>
	</tr>
</table>
</div>
<div align = "center" class='tail' style="margin:20px">
	<span class="title1 titleName"> DC Power Monitoring System by Dong-Ho Power Electronic ( T.E.L.82-51-262-7532 ) </span>
</div> <!-- tail-->
</div> <!-- container -->
<!-- control handlers -->

</script>
{% endblock %}
